
div{
    padding: 20px;
    border: 20px solid #dddddd;
    width: 500px;
}

/* box-sizing
요소의 크기를 화면에 표시

- content-box (기본값) content영역만을 기준으로 한다.
- border-box content + padding + border 영역을 기준으로 한다.
*/
.cb{
    box-sizing: content-box;
    border-style: double;
    border-color: aquamarine;
}

.bb{
    box-sizing: border-box ;
    border-style: dashed;
    border-top-right-radius:100% ;
}
